<html>
  <head>
    <title>The Beer at the Puppet HQ</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="content-language" content="EN">
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="300">
  </head>

  <body>

    <header>
      <h1><img src="/puppet_mark.png" alt="Puppet" />puppet office kegs</h1>
    </header>

    <div class="vertical-container">
      <% @kegerator.each do |keg| %>

        <%= erb :tap, :locals => { :keg => keg } -%>

      <% end %>
    </div>

    <footer>
      &copy; <%= Time.now.year %> Kerminator Frogbot and <a href='http://twitter.com/stahnma'>@stahnma</a> | Find the source on <a href='http://github.com/stahnma/beer_endpoint'>github.</a>
    </footer>
  </body>
</html>
